[2016-03-14 18:27] joshuap opened #2 "Error when dumping request.META to JSON"
Here's my test Django app:

https://github.com/honeybadger-io/crywolf-python

After applying the patch in #1 I encountered a new issue. [It looks like some of the data inside `request.META` cannot be directly serialized as JSON](https://github.com/honeybadger-io/honeybadger-python/blob/master/honeybadger/payload.py#L78). Maybe they require some sort of type conversion first?

Here's a PDF of the D

[2016-03-14 18:34] joshuap opened #3 "All request keys filtered"
After I temporarily disabled the [`cgi_data` key in the request](https://github.com/honeybadger-io/honeybadger-python/blob/master/honeybadger/payload.py#L78) due to #2 I was able to generate an exception which included the params from the request (yay!) Unfortunately, all the keys were filtered even though I hadn't configured the `params_filters` option:

![image](https://cloud.githubusercontent.c

[2016-03-14 18:41] joshuap opened #4 "Could we use Django's logger by default?"
When I cause an exception in a Django view without my Honeybadger API key configured I get the following message in my server log (running via `python manage.py runserver`):

[code]

Would it be possible to have any log messages generated by the honeybadger package to be outputted to the Django log by default?

[2016-03-14 18:55] joshuap opened #5 "Using `honeybadger.configure` inside Django app"
I just wanted to clarify this:

[code]

...will _not_ change the configuration used by Django, correct?

I think this may be a tad confusing, although I do like the way you created the middleware. That said, I'm thinking it would better a better user experience if Django used the global `honeybadger` singleton to report errors; then we could say that `honeybadger.configure` works everywhere. This

[2016-03-14 19:04] joshuap opened #6 "Generate a traceback for `honeybadger.notify` w/ custom arguments"
When notifying via:

[code]

There is no backtrace. Could we generate one?

[2016-03-14 19:24] joshuap opened #7 "Configuration precedence"
I think this is the way we want multiple forms of configuration to work:
1. Default config values; gives precedence to:
2. Framework (Django) config; gives precedence to:
3. 12-factor config; gives precedence to:
4. User calls to `honeybadger.configure` (runtime config)

Related discussion for Elixir [here](https://github.com/honeybadger-io/honeybadger-elixir/pull/33#discussion_r53251749).
honeyba

[2016-03-14 19:31] joshuap opened #8 "12-factor data types"
One thing we've encountered in the past with setting 12-factor config is that everything is a string by default. So setting `HONEYBADGER_PARAMS_FILTERS=foo,bar` would result in the string value `"foo,bar" for`config.params_filters`, unless I'm mistaken:

https://github.com/honeybadger-io/honeybadger-python/blob/master/honeybadger/config.py#L23

We should probably add a test case for that.

[2016-03-14 19:50] joshuap opened #9 "Reset context after request."
For Rails we automatically clear the global context after each request. Would this be desirable for Django, or does the context manager work differently? Would it be useful to be able to persist context outside of each request?

[2016-03-15 20:51] #2 closed, assigned to demsullivan

[2016-03-16 01:36] #3 closed, assigned to demsullivan

[2016-03-16 01:36] #5 closed, assigned to demsullivan

[2016-03-16 01:36] #9 closed, assigned to demsullivan

[2016-03-16 01:59] #8 closed, assigned to demsullivan

[2016-03-16 02:18] #6 closed, assigned to demsullivan

[2016-03-16 21:11] joshuap opened #11 "Call existing global exception hook if there is one?"
https://github.com/honeybadger-io/honeybadger-python/blob/master/honeybadger/__init__.py#L17

[2016-03-16 21:24] joshuap opened #12 "Add a log handler to report error level log messages"
Thank my TypeMatrix for the original title of this issue. :) This can be a little followup project to the initial release.

[2016-03-16 22:35] #4 closed, assigned to demsullivan

[2016-03-16 22:35] #11 closed, assigned to demsullivan

[2016-03-19 03:11] #7 closed, assigned to nobody

[2016-08-22 15:57] macat opened #14 "Python 3 support?"
Does this package work with Python 3?

[2016-08-22 16:13] joshuap commented on #14
@macat not at the moment, unfortunately. I can look into supporting it (or would accept a pull request); don't have an ETA yet.

[2016-09-07 16:14] #14 closed

[2016-10-11 14:03] vineesha opened #17 "AttributeError: 'dict' object has no attribute 'has_key' in honeybadger.notify()"
Facing this when using HoneyBadger with Python 3.5:

[code]

Since `has_key` is not supported in python 3.

[2016-10-11 14:11] vineesha commented on #17
I've raised #18 that fixes this issue specifically. Not sure if there are more wide-ranging changes that need to happen to enable python-3 compatibility.

[2016-10-11 14:51] #17 closed

[2016-10-11 14:53] joshuap commented on #17
We are testing under Python-3 (and this is the only issue I'm aware of); if you find any other issues, please report them here and we'll get them fixed. The tests build against 2.7, 3.2 and 3.5: https://travis-ci.org/honeybadger-io/honeybadger-python/builds/166776637

Thanks!

[2016-10-11 15:01] joshuap commented on #17
v0.0.3 has been released: https://pypi.python.org/pypi/honeybadger/0.0.3

[2016-10-11 15:35] vineesha opened #19 "pip install honeybadger fails with ImportError: No module named 'psutil'"
Is anyone else facing this error?

[code]

I can resolve it by doing `pip install psutil` before doing `pip install honeybadger`, but I don't want to do that in production. Am I missing something?

[2016-10-11 15:45] vineesha commented on #17
Great, thanks!

[2016-10-11 16:01] vineesha commented on #19
From what I can see, `import honeybadger` in setup.py is causing this error. And the import is happening to avoid hardcoding the version. [This](http://stackoverflow.com/questions/2058802/how-can-i-get-the-version-defined-in-setup-py-setuptools-in-my-package) has some ideas on how this could be done.

[2016-10-11 16:03] joshuap commented on #19
@demsullivan any ideas on this one?

[2016-10-11 17:57] #19 closed

[2017-03-10 23:49] LanceOlsen opened #20 "Local thread loses context in Flask app"
I am running a Flask app, and using `notify` in an `errorhandler` decorator:

    @app.errorhandler(Exception)
    def handle_error(e):
        honeybadger.notify(e, context={})
        # other error related functionality

In the `__init__.py` file for this app I have:

    from honeybadger import honeybadger
    honeybadger.configure(api_key="blablah")

I'm getting the following error:

    Trace

[2017-03-21 01:07] kereyroper opened #21 "Django 1.10 support"
Django modified the middleware hooks for Django 1.10:
https://docs.djangoproject.com/en/1.10/topics/http/middleware/#upgrading-middleware

I have a fork with this working, but removed Flask support to make imports cleaner.
https://github.com/kereyroper/honeybadger-python/tree/django-1.10

[2017-03-21 16:09] joshuap commented on #20
Thanks for the report @LanceOlsen. We'll work on getting this fixed.

[2017-03-21 16:09] joshuap commented on #21
Thanks @kereyroper, we'll take a look at this.

[2017-03-28 23:25] demsullivan commented on #20
Hey @LanceOlsen, I'm looking into this. I'm not able to reproduce it on my end, so I'd like to get some more information from you to see if we can track this down. Can you please provide the answers to the following:

- How are you importing honeybadger into `api.py`?
- How are your files structured? Which `__init__.py` has the `honeybadger.configure` line? Is it `/root/my_app/__init__.py` ?
- Wha

[2017-09-11 23:07] #21 closed

[2017-11-07 18:53] joshuap commented on #20
Closing this out due to lack of response. Feel free to reopen if you're still having this issue!

[2017-11-20 11:29] ifoukarakis commented on #20
I also encountered the same problem. The problem is that if you try to call `honeybadger.notify` from a different thread than the one the global honeybadger object was created, the thread local variables disappear. Here's a script to reproduce it:
[code]

[2017-12-01 13:04] demsullivan commented on #20
@ifoukarakis thanks for the sample! I'll look into getting this fixed up as soon as I can.

[2017-12-07 21:56] #20 closed

[2018-01-17 01:17] joshuap opened #26 "Publish latest version for Python 3"
See note at end of #25.

[2018-01-17 01:38] joshuap commented on #26
@smt116 version 0.1.2 has been published to PyPi for Python 2 and 3. Let me know if you have any more trouble and thanks for the PR!

[2018-01-17 01:38] #26 closed

[2018-01-17 09:10] smt116 commented on #26
@joshuap Everything works as expected. Thank you for the fast release :)

[2018-02-16 09:24] ifoukarakis opened #27 "Allow defining custom payload generator"
Hi,

I'd like to suggest a small change to make your library a bit more flexible. The idea is that `Honeybadger` should allow registering a custom payload generator. This way the developer will be able to register a function that generates the payload matching his/her framework.

An example use case would be supporting Flask and Celery. Right now we're doing something similar by monkey patching `g

[2018-02-16 18:37] stympy commented on #27
Thanks for the suggestion! We do something similar in our Ruby library via plugins, and I think it makes sense to have a similar kind of functionality here.

Here's the [list of plugins](https://github.com/honeybadger-io/honeybadger-ruby/tree/master/lib/honeybadger/plugins) and the [plugin loader](https://github.com/honeybadger-io/honeybadger-ruby/tree/master/lib/honeybadger/plugins.rb) from our R

[2018-02-18 23:51] ifoukarakis commented on #27
I created a PR. If it gets merged, I can create a couple more for Flask & Celery.

[2018-07-04 21:46] demsullivan opened #31 "Add import exception handler to FlaskPlugin supports method"

[2018-07-04 21:47] demsullivan opened #32 "Move DjangoHoneybadgerMiddleware to contrib.django and add deprecation warning to middleware.DjangoHoneybadgerMiddleware"

[2018-07-04 22:05] demsullivan opened #33 "Clean up duplication of framework honeybadger initialization"

[2018-07-05 16:56] #31 closed

[2018-07-05 16:56] #32 closed

[2018-07-05 16:59] demsullivan commented on #33
On second thought, there isn't really a whole lot of duplication; the only gotcha is to make sure that, when you're authoring a new plugin/middleware, that we need to call `honeybadger.config.set_12factor_config()` after applying the framework's config

[2018-07-05 16:59] #33 closed

[2018-07-11 15:45] #27 closed

[2019-06-24 17:56] joshuap opened #35 "Django 2 support"
We need to update this package to support up to the latest versions of Django and Python. Currently that’s Django 2.2.2 and Python 3.7.3.

While we’re at it, let’s also take a look at updating Flask (and any other supported dependencies)

[2019-09-02 19:35] joshuap opened #36 "Error when loading on Windows"
A customer emailed in to say that they are getting an error when loading honeybadger-python under Windows.

Code:

[code]

Result:

[code]

[2019-12-12 21:36] dstuebe opened #40 "Mutable default kwargs"
I started to open a PR to replace `context={}` with `context=None` in `def notify(...`
https://github.com/honeybadger-io/honeybadger-python/blob/master/honeybadger/core.py#L42

It is not a bug perse, but I do expect to be able to pass None for an argument like that which currently causes an exception when reporting an exception!

Would folks be interested in changing the api to `def notify(self, e

[2020-01-06 23:15] joshuap commented on #40
@demsullivan thoughts on this?

[2020-01-13 18:41] #35 closed

[2020-01-13 18:45] joshuap opened #42 "Move CI from Travis to GitHub Actions"
I'd like to replace Travis with GitHub Actions, using the same build matrix:

https://github.com/honeybadger-io/honeybadger-python/blob/master/.travis.yml

[2020-01-13 19:01] joshuap opened #43 "Filter sensitive HTTP headers with params_filters"
See https://github.com/honeybadger-io/honeybadger-python/pull/39#issuecomment-573796861

I'm not sure how to do this for Flask; for Django, it looks like we could do something like this, like we do for Session:

https://github.com/honeybadger-io/honeybadger-python/blob/master/honeybadger/contrib/django.py#L90

[code]

This should then add `CSRF_COOKIE` as a default option to `params_filters`.

[2020-01-13 19:04] joshuap opened #44 "Filter HTTP_COOKIE values with params_filters"
See https://github.com/honeybadger-io/honeybadger-python/pull/39#issuecomment-573796861 and #43.

This should add a new feature to apply params_filters to the HTTP_COOKIE string, [like we do for Ruby](https://github.com/honeybadger-io/honeybadger-ruby/blob/master/lib/honeybadger/util/sanitizer.rb#L133).

This involves splitting the cookie string into a key/value data structure, applying `params_fi

[2020-01-13 19:45] demsullivan commented on #40
I don't see a problem with this - @dstuebe if you've got a PR to add that, go ahead and submit :) otherwise I'll get it patched up shortly.

[2020-01-13 19:58] dstuebe commented on #40
@demsullivan which approach are you thinking of? Actually changing the interface to remove the mutable argument throughout the API or just adding some discrete `if arg is None` checks?

[2020-01-13 20:10] demsullivan commented on #40
I think changing the default value in the method signature to `context=None` is fine - prior to `merged_context.update(context)` though we should confirm that `context is not None` and also that `context` is a dict.

[2020-01-13 20:21] dstuebe commented on #40
Looks like three places to fix:
[code]
I blew away my first attempt at a PR when I realized it was more than one method.

[2020-01-13 20:42] joshuap opened #45 "Retire python 2 support"
Python 2 will be retired by April 2020:

http://pyfound.blogspot.com/2019/12/python-2-sunset.html

At that time, we should remove it from the build, and update the README with new python3-only instructions. :)

[2020-02-25 21:17] Aulig commented on #36
Im also getting this issue on windows 10 with flask.```
 from honeybadger.contrib import FlaskHoneybadger

FlaskHoneybadger(app, report_exceptions=True)
[code]

[2020-02-25 23:32] joshuap commented on #36
Thanks for the traceback, @Aulig. @demsullivan could you look into supporting Windows?

[2020-04-07 18:10] #45 closed

[2020-04-07 18:35] #42 closed

[2020-04-07 21:14] joshuap opened #51 "Snippet offsets don't look right"
The snippet offsets on these lines don't look right to me. This error can be reproduced with the [crywolf-python](https://github.com/honeybadger-io/crywolf-python) app and #50 (that PR doesn't change the offset behavior from master).

<img width="1077" alt="image" src="https://user-images.githubusercontent.com/474649/78719841-75559200-78d9-11ea-8e93-1b1ea36babdf.png">
https://app.honeybadger.io/fa

[2020-04-07 21:17] joshuap commented on #51
Here's an example of Ruby snippets:

<img width="1073" alt="image" src="https://user-images.githubusercontent.com/474649/78720343-628f8d00-78da-11ea-8c62-76c4762a1be7.png">

The offset for the gem is 2, rather than 3. The snippet is at the end of the file, so it's short one line at the end (but still has 2 lines preceding line 140). The second snippet is in the middle of the file, so it's centered

[2020-05-06 21:14] #36 closed

[2020-05-06 21:16] #51 closed

[2020-08-20 17:26] joshuap opened #57 "Filter nested params with params_filters"
A customer mentioned that the following params are not being filtered:

@demsullivan could we support this?

[2020-08-31 23:16] joshuap commented on #36
For future reference, this was released in 0.3.0.

[2020-09-02 17:17] joshuap commented on #57
Here's a sample test that the customer sent:

[code]

[2020-09-24 16:16] dependabot-preview[bot] opened #59 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/honeybadger-io) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/honeybadger-io/update-logs/48619634).

[2020-09-25 16:12] #59 closed

[2020-09-26 12:22] #57 closed

[2020-10-19 12:15] stympy opened #60 "Improve Lambda support"
Errors can be lost when running in AWS Lambda because they are reported by a separate thread, and that thread can be terminated before the report is sent when Lambda ends execution of the function. When running in Lambda, the client should report errors immediately in the main thread rather than queueing them to be reported. For implementation ideas, see the `sync` option in our [Ruby library](htt

[2020-10-20 01:07] tom-dq commented on #60
I'd be interested in testing this when it's ready! I'm using Honeybadger in this environment:
 - Python 3.7
 - AWS Lambda
 - Flask 1.1.2

For the time being, my inelegant, lumbering workaround is to hold up the response until all the "background threads" have finished up, where "background threads" makes some attempt to exclude the debugging instrumentation that VSCode has in the mix. In the off c

[2020-11-16 20:42] joshuap opened #61 "Celery Integration"
A customer wasn't sure how to integrate Honeybadger with Django and Celery:

https://docs.celeryproject.org/en/stable/django/

These items are open to anyone who knows how to take this on:

- [ ] Reply with a code sample (or sample app/repo) of how to do it manually
- [ ] Add an official integration, if possible
- [ ] Otherwise, add the manual integration instructions to the Honeybadger docs

<img

[2021-01-15 19:59] kstevens715 opened #62 "Use in AWS Glue"
I'm trying to use `honeybadger-python` in an AWS Glue job. I'm able to install this module, along with `psutil` and `six` by specifying them in the "Python library path" option and providing them as either zip or whl archives.

Unfortunately, when I try running the job I get the error below. I don't think AWS Glue is compatible with modules that rely on C-extensions:

[code]

To work-around the pr

[2021-01-15 20:46] joshuap commented on #62
@kstevens715 I'd be OK with that solution if stats are still "on by default" on most platforms. I.e., I'd rather not have to do this for stats to be enabled: `pip install honeybadger && pip install psutil`. Is that possible?

cc @demsullivan

[2021-01-15 20:49] kstevens715 commented on #62
@joshuap Yes, for use in Glue I would explicitly install `honeybadger` without the dependency. But the defaults would remain the same.

[2021-01-19 16:42] #62 closed

[2021-01-31 20:16] lfx opened #64 "WSGIRequest has no PUT and DELETE in Django Middleware"
Hello badges,
It seems that WSGIRequest don't have PUT and DELETE attributes, thus following line fails with fire
https://github.com/honeybadger-io/honeybadger-python/blob/6cbec82c2d0c97587ca7d94bef31be4510fa64ec/honeybadger/contrib/django.py#L84

I'm not expert on Django, and cannot find better description then mentioned in https://stackoverflow.com/a/43171303 here.

[2021-02-01 19:35] joshuap commented on #64
Thanks for reporting, @lfx.

From the Stack Overflow example:

[code]

Need to reproduce and verify, then fix. The params should be included for PUT/PATCH/DELETE requests (like they are for GET/POST).

[2021-02-04 17:48] joshuap commented on #64
Fixed in #65, released in [0.4.2](https://pypi.org/project/honeybadger/0.4.2/)!

[2021-02-04 17:49] #64 closed

[2021-02-08 20:56] #43 closed

[2021-02-08 20:56] #44 closed

[2021-02-25 02:30] joshuap opened #68 "Refactor plugin system to provide access to details payload"
See background here (expand the resolved conversation): https://github.com/honeybadger-io/honeybadger-python/pull/67/files#diff-8482ef1a1b7b34b6ab5e701bf2a3c225949fcbb01669c9cf8a4fa7c962a63b8aR112

This is a two-step issue:

1. Refactor the plugin system so that plugins can add data to `notice["details"]` (providing access to the full payload object is probably the best option, right?)
2. Move [th

[2021-02-25 02:36] joshuap opened #69 "Register Lambda plugin automatically?"
@Kelvin4664 Would it be possible to detect the AWS Lambda environment and register the Lambda plugin automatically, so that the user can skip doing [this](https://github.com/honeybadger-io/honeybadger-python/blob/master/examples/aws_lambda/handler.py#L6)?

[2021-02-25 02:39] joshuap commented on #69
A few ideas of where we could do this:

- When importing `honeybadger`
- When calling `honeybadger.configure`

[2021-02-25 02:47] joshuap commented on #69
Let me know if this is a bad idea or if the explicit registration is more conventional in Python.

[2021-02-25 02:50] joshuap opened #70 "Document AWS Lambda setup in README"
Pending #69

Add a section to the README on how to set up Honeybadger in an AWS Lambda function, like we do for Django and Flask:

https://github.com/honeybadger-io/honeybadger-python#django

[2021-02-25 02:56] joshuap opened #71 "Move AWS Lambda trace_id from context to details payload?"
When I tested the new lambda plugin, it seemed a bit random that the trace id was in the `context` section, but everything else was in `Lambda Details`. Is there a reason we did it that way in the [Ruby plugin](https://github.com/honeybadger-io/honeybadger-ruby/blob/master/lib/honeybadger/plugins/lambda.rb#L20)? cc @stympy @rabidpraxis

https://github.com/honeybadger-io/honeybadger-python/pull/67/

[2021-02-25 03:09] joshuap commented on #60
@tom-dq we have this fixed on the main branch if you're still interested in testing. You can see how to initialize the plugin [here](https://github.com/honeybadger-io/honeybadger-python/blob/master/examples/aws_lambda/handler.py).

We may be tweaking a few things before releasing (you can track the remaining work [here](https://github.com/honeybadger-io/honeybadger-python/milestone/1)).

[2021-02-25 13:44] rabidpraxis commented on #71
I believe we put trace_id in the context so it would be searchable.

[2021-02-25 13:49] joshuap commented on #71
Ah, that's what I was missing. I forgot that details are not searchable.

[2021-02-25 14:00] #71 closed

[2021-02-25 17:11] Kelvin4664 commented on #69
The current plugin setup doesn't allow us register a plugin from the configuration class without creating circular imports. but a fix can be worked since we're already refactoring the plugin system in #68
And yeah i agree it should be auto detected when honeybadger.configure is called. since honeybadger may just be imported and unused.

[2021-03-05 06:25] Kelvin4664 commented on #70
Since we no longer register the lambda plugin explicitly, I believe it can fall under [https://github.com/honeybadger-io/honeybadger-python#other-frameworks--plain-python-app](url)
There is no additional step involved. Any thoughts?

[2021-03-08 19:22] joshuap commented on #70
@Kelvin4664 I think I’d prefer to have a section right above other frameworks/plain python, but maybe it could just give a simple example of a Lambda function and say that the plugin is automatically configured?

[2021-03-10 19:35] Kelvin4664 commented on #70
Right.. @joshuap A simple example function would suffice. At least to be explicit that we support lambda functions.

[2021-03-10 19:35] #69 closed

[2021-03-10 19:37] joshuap opened #74 "Do we still need to import AWSLambdaPlugin in the example handler?"
Is this line still necessary?

https://github.com/honeybadger-io/honeybadger-python/blob/51c65b79c03c60ab1dd68b8908102e1f70f5b3c5/examples/aws_lambda/handler.py#L2

[2021-03-12 19:13] Kelvin4664 commented on #74
Nope.... will remove now

[2021-03-14 14:32] Kelvin4664 commented on #61
So i tried this out and noticed the problem is very similar to that of AWS lambda. i.e honeybadger unable to override  `sys.excepthook` directly. The solution will take similar approach too
Fixing this next..

[2021-03-15 22:56] joshuap commented on #61
@Kelvin4664 can you close out any issues that are completed in [this milestone](https://github.com/honeybadger-io/honeybadger-python/milestone/1) first? If there are any issue remaining, I'd like to get those finished up so that I can cut a new release with the new AWS Lambda integration.

[2021-03-17 05:37] #60 closed

[2021-03-17 05:37] #68 closed

[2021-03-17 05:37] #70 closed

[2021-03-17 05:37] #74 closed

[2021-03-17 05:38] Kelvin4664 commented on #61
Oh.. sure!
They're all done that's why i picked up this one.
Will close them now.

[2021-03-17 05:51] Kelvin4664 opened #77 "Should we be able to combine payloads from different plugins?"
There's a possible scenario where we have more than one plugin registered at a time.
E.g: I have a django/flask application deployed to AWS Lambda. This makes it possible to have the lambda plugin auto registered & possibly the flask/django plugin (if used on the application.)
Current behaviour is to return payload from the first registered plugin.
Proposed behaviour is to pass the payload through

[2021-03-17 16:47] joshuap commented on #77
@Kelvin4664 I like that idea. It would be nice if multiple plugins could be used at once. 👍

[2021-04-14 16:43] stefanondisponibile opened #78 "Honeybadger FastAPI plugin."
Hello!
I would love to add [FastAPI](https://fastapi.tiangolo.com/) support to the Honeybadger package, and I'd love to discuss some issues before diving deeper into the code.

First off, I'm already using Honeybadger with this framework (also in production): the solution I adopted is having a middleware handing the exceptions and notifying them when needed.

This approach would have the **advanta

[2021-04-14 16:48] stefanondisponibile commented on #77
What merge style would you expect?
Like, having a [key for each plugin](https://github.com/honeybadger-io/honeybadger-python/blob/04a99bbf7c654c14b5a008182a0ce8f8b5039aea/honeybadger/plugins.py#L69)?

[2021-04-15 17:21] joshuap commented on #77
I imagine we'd want to be able to register multiple plugins, and then the generated payloads for each plugin should be merged with each other to generate the final payload. Here's an example of what I'd personally expect:

plugin 1:
[code]

plugin 2:
[code]

result:
[code]

Our [payload schema](https://github.com/honeybadger-io/honeybadger-schemas/blob/master/exceptions/v1/notices.json#L339) provi

[2021-04-15 17:33] joshuap commented on #78
@stefanondisponibile thanks for the great issue writeup! I like your suggestion of going with the middleware approach by default and letting people use a custom APIRoute if they know what they're doing; this actually works well for me because I like to have people opt-in to sending the request body anyway, since it can potentially contain sensitive information.

Do you want to take a shot at imple

[2021-04-15 19:30] stefanondisponibile commented on #78
sounds good @joshuap! Thank you for your feedback and yep, I'll be working on it and issuing a PR soon. 👍

[2021-04-16 16:28] joshuap commented on #78
Sounds great! (assigning just so we can track who's working on what)

[2021-04-19 20:03] stefanondisponibile commented on #78
hello @joshuap, here I am for a quick update.
I've implemented:
* [an ASGI middleware plugin](https://github.com/stefanondisponibile/honeybadger-python/blob/asgi/honeybadger/contrib/asgi.py).
* [a custom FastAPI APIRoute](https://github.com/stefanondisponibile/honeybadger-python/blob/asgi/honeybadger/contrib/fastapi.py).

I think I still need to review everything (and a couple of fixes here and th

[2021-04-26 16:03] joshuap opened #79 "AttributeError: module 'bootstrap' has no attribute 'handle_event_request'"
A bug report from a customer:

[code]

[2021-04-26 19:26] kpavlovsky commented on #79
following

[2021-04-27 00:12] joshuap commented on #78
@stefanondisponibile I'm honestly not sure about the testing setup tbh (I'm not super experienced w/ Python). I'd say keep the test as simple as possible (i.e. maybe test that the API conforms to what any ASGI-based framework will expect?) We don't necessarily need a full integration test, although that can be useful. I'd rather not change testing frameworks if possible (or if we do, I'd want to u

[2021-04-27 07:30] Kelvin4664 commented on #79
@joshuap the thought of this possibility prompted me to open #77
I'll make a hotfix to ignore lambda integration when an integration (flask/django) is already active and then work on #77 to allow all the integrations co-exist

[2021-04-27 20:10] joshuap commented on #79
@Kelvin4664 sounds good, thanks!

[2021-04-29 20:37] Kelvin4664 commented on #79
Hi @kpavlovsky
Please can you confirm your python and django version?

[2021-04-30 04:51] kpavlovsky commented on #79
@Kelvin4664
Django==3.1.7
"runtime": "python3.8"

[2021-04-30 04:51] kpavlovsky commented on #79
Let me know as soon as there is anything to test, so I can provide feedback on the fix.

cheers!

[2021-05-02 02:56] Kelvin4664 commented on #77
Apologies.. I didn't catchup with this conversation on time.
Already did something in #81

[2021-05-02 03:09] Kelvin4664 commented on #78
I am not sure how much similarity ASGI frameworks share, I believe we can limit our tests to Fastapi for a start, than try to support a myriad of ASGI frameworks.
Also I agree we don't need a full integration test. It is both tricky and monotonous. Testing the individual components in isolation should suffice.

[2021-05-02 11:08] stefanondisponibile commented on #78
Thanks! I'm working in that direction 👍

[2021-05-05 17:16] Kelvin4664 commented on #79
@kpavlovsky fix is available. you can test now..

[2021-05-05 17:16] #79 closed

[2021-05-05 17:17] #77 closed

[2021-05-05 23:21] joshuap commented on #79
*note the fix is currently on the master GitHub branch. Can you test it from there to confirm that it works? You can also wait for a release if you want, I'll probably do that tomorrow.

[2021-05-06 06:21] kpavlovsky commented on #79
@joshuap Thanks for the quick turnaround with this problem, my friends!

I think I'll be able to test it only tomorrow.

I'll let you know.

[2021-05-07 21:44] #12 closed

[2021-05-07 21:44] joshuap opened #82 "Add a log handler"
I would like to add a log handler that users can configure in their applications to automatically report error logs to Honeybadger.

Example:

[code]

[code]

For more in-depth examples of how this will be used, see:

https://lincolnloop.com/blog/disabling-error-emails-django/
https://lincolnloop.com/blog/django-logging-right-way/
https://www.youtube.com/watch?v=ziegOuE7M4A&t=1s

[2021-05-07 21:52] joshuap opened #83 "Errors not reported inside a Docker container"
I'm creating this issue to track an internal bug report. See this sample project for instructions/how to reproduce:

https://bitbucket.org/minute_exer/test-hb-flask/src/master/

[2021-05-13 13:09] Kelvin4664 commented on #83
Found the issue to be the uwsgi configuration used in the base docker image (tiangolo/uwsgi-nginx:python3.8-alpine) implicitly disables threading when uwsgi is used to serve the application, hence the reason it works outside the image. Solution is to either set "HONEYBADGER_FORCE_SYNC" in configuration to True, This will prevent reporting errors in separate threads,
or explicitly enable threads fo

[2021-05-13 21:35] stefanondisponibile commented on #61
A way to do this could be using [Celery's signals](https://docs.celeryproject.org/en/stable/userguide/signals.html#task-failure).

[2021-05-14 06:46] #78 closed

[2021-05-14 23:20] #83 closed

[2021-05-17 08:01] Kelvin4664 commented on #61
Good point @stefanondisponibile
But i fear failure may be critical to the point where failure signals are not sent. What do you think?

[2021-05-18 10:58] stefanondisponibile commented on #61
yeah, good point too @Kelvin4664, I think what you're suggesting may happen.
What you think of [this](https://github.com/getsentry/sentry-python/blob/4c09f3203d6d19789c6fa729a2e46557ad4ea913/sentry_sdk/integrations/celery.py) approach instead?

[2021-05-22 08:33] kpavlovsky commented on #79
With a great overdue - yeah that has fixed the problem.

Thanks a lot

[2021-05-24 16:46] joshuap commented on #79
@kpavlovsky I just released 0.6.0 if you want to lock back to PyPi. Thanks for confirming!

[2021-06-04 07:47] Kelvin4664 commented on #82
Hey @joshuap
Are we limiting this to just exceptions? or info and warnings as well

[2021-06-15 22:32] joshuap commented on #82
@Kelvin4664 sorry just got back from vacation. I think the idea is that we would report all logs that are >= to the configured `level` for our handler—so yeah, I imagine it could include info if the level were `'INFO'` (but for most people it will be `'ERROR'`).

[2021-06-18 19:23] joshuap opened #90 "Include method arguments in backtrace"
I believe Python makes method arguments available to each stack frame in the traceback. Is that correct? If so, I'd like to include the arguments in the Honeybadger backtrace, [as we do for Elixir](https://github.com/honeybadger-io/honeybadger-elixir/blob/c876c08c3d32675031c961183740e5146380b969/README.md#advanced-configuration) (see `filter_args` option).

This feature should be enabled when a ne

[2021-06-28 00:38] #40 closed

[2021-06-28 17:43] joshuap opened #94 "Add global config option to ignore a list of exceptions"
See similar features in the [Ruby](https://docs.honeybadger.io/lib/ruby/getting-started/ignoring-errors.html#ignore-by-class) (`exceptions.ignore`), [PHP](https://docs.honeybadger.io/lib/php/guides/reducing-noise.html#ignoring-exceptions-by-type) (`excluded_exceptions`) and [Java](https://github.com/honeybadger-io/honeybadger-java#configuration-options) (`honeybadger.excluded_exception_classes`) l

[2021-07-22 18:53] #82 closed

[2021-08-31 22:02] bradsgreen opened #95 "Error using python logging integration in Chalice AWSLambda"
I am trying to use the logging plugin in a Chalice lambda.

It works just fine, in that I see the logs in Cloudwatch & the error log appears as an error in honeybadger,

However, I get the following warning each time I register the logger:
[WARNING] 2021-08-31T21:46:25.138Z Lambda function not wrapped by honeybadger: module '__main__' has no attribute 'handle_http_request'

Any guidance as to what

[2021-09-01 18:47] Kelvin4664 commented on #95
Hey @bradsgreen
The problem is not with the logging plugin. By default, honeybadger tries to detect and monitor errors when configured in a Lambda environment. But in your case it detected a lambda environment but was unable to wrap around your code to report errors. Can you specify your lambda runtime? and any third party library you use that may be interfering with how lambda runs (maybe a deplo

[2021-09-01 19:04] bradsgreen commented on #95
Perhaps the difference is that I am using blueprints:

app.py:
`from chalice import Chalice

from chalicelib.foo import foo_product

app = Chalice(app_name='foo')
app.register_blueprint(foo_product)`

foo_product.py:
`
import os

from chalice import Blueprint, Cron
from chalicelib import chalice_logging_workaround

kabutan_product = Blueprint(__name__)
logger = chalice_logging_workaround.get_logge

[2021-09-01 21:02] bradsgreen commented on #95
FYI I see what you mean now.  I changed my test to:
[code]

And the logger.error() reported an error to HB, but the exception is not reported because the lambda was not wrapped successfully as you mentioned.

[2021-09-06 09:40] Kelvin4664 commented on #95
One more thing @bradsgreen
what python version are you running?

[2021-09-08 01:23] bradsgreen commented on #95
(venv)  xxx % python --version
Python 3.8.2

[2021-09-08 22:41] bradsgreen commented on #95
I simplified my usage to not use the Blueprints in Chalice but it did not help:
[code]

Still results in
[code]

and the assertion not being reported.

[2021-09-09 00:18] bradsgreen commented on #95
OK, this has nothing to do with the logging integration at all:

[code]

results in the following logs:

[code]

Does the AWS Lambda integration simply not work in Chalice at all?  Or am I doing something wrong?

[2021-09-10 17:49] Kelvin4664 commented on #95
You are not doing something wrong. it has more to do with the python version on lambda, not chalice.
I will setup a dummy project to verify and make a fix.

[2021-09-13 21:54] joshuap commented on #95
Fix released in 0.7.1

[2021-09-13 21:55] #95 closed

[2021-09-14 20:55] bradsgreen opened #99 "AWS Lambda/Chalice: Honeybadger API key missing from configuration: cannot report errors."
(venv) xxx % python --version
Python 3.8.2

hb_handler = HoneybadgerHandler(api_key='--my api key--')
hb_handler.setLevel(logging.ERROR)
app.log.addHandler(hb_handler)

@app.lambda_function()
def honeybadger_error_test(event, context):
    app.log.error('Something went wrong!!!')
    app.log.info('But this is OK!')
    raise AssertionError("BOOM!")

results in "Something went wrong!!!" being repor

[2021-09-17 00:21] bradsgreen commented on #99
NOT A BUG!!!!

[code]

works -- you have to configure honeybadger to get the wrapping, creating the log handler doesn't do it for you.  You might want to consider clarifying this in the documentation. but this is not a bug and can be closed.

Thanks!

[2021-09-17 17:01] Kelvin4664 commented on #99
Thanks for the feedback @bradsgreen!

[2021-11-01 23:01] #94 closed

[2022-02-16 18:02] joshuap opened #104 "Migrate to pytest or nose2"
The "nose" package is no longer maintained, and causes failures on Python 3.10. I did some research, and it seems like there are two recommended options (feel free to make additional suggestions, though):

1. Migrate to pytest (may be more of a drop-in replacement)
2. Migrate to nose2

Here are some doc links related to each migration:

https://docs.pytest.org/en/stable/how-to/nose.html
https://do

[2022-03-10 21:24] declaresub commented on #104
I might be willing to help with this, as a prelude to adding type hints.  I was able to get to  64 passed, 2 skipped, 7 warnings by disabling one failing test.  In test_server_payload, the two assertions

    assert type(payload['stats']['mem']['total']) == float
    assert type(payload['stats']['mem']['free']) == float

are really testing the return value of stats_payload, which varies by platfor

[2022-03-14 20:15] joshuap commented on #104
I'm good with all of that if you want to take a shot at it. 👍 We're currently [building python >= 3.7 in CI](https://github.com/honeybadger-io/honeybadger-python/blob/master/.github/workflows/python.yml), but it looks like I forgot to update the README. I'll do that now.

[2022-03-16 15:44] declaresub commented on #104
Which versions of django do you want to support?  There is at least one change in 4.0 that broke your tests. This [handy resource](https://endoflife.date/django) suggests that you would want to support 3.2, 4.x.

[2022-03-16 16:48] joshuap commented on #104
Yep, we only want to support currently maintained releases!

[2022-04-02 17:47] subzero10 opened #106 "Enforce Conventional Commits"

[2022-06-23 20:25] joshuap opened #109 "Fix CI failures"
The tests started failing in CI, but we haven't made any code changes.

[2022-07-05 07:24] subzero10 commented on #109
- [SO](https://stackoverflow.com/questions/71645272/importerror-cannot-import-name-markup-from-jinja2) post.

[2022-07-08 18:29] #109 closed

[2022-07-25 18:00] joshuap opened #111 "Report exception causes"
Python supports chaining exceptions, when an exception occurs while another exception is already being handled:

https://docs.python.org/3/library/exceptions.html#exception-context

Our /v1/notices spec defines the exception cause [here](https://github.com/honeybadger-io/honeybadger-schemas/blob/77bcff997132d5393b51db26d1cc77efd6f0dc88/exceptions/v1/notices.json#L184).

Here's how our ruby gem col

[2022-07-25 20:18] #99 closed

[2022-08-18 16:23] #111 closed

[2022-09-01 22:55] nadnerb opened #115 "Missing fingerprint in honeybadger.notify"
The python library seems to be missing a `fingerprint` which is available in the ruby gem and API. This makes using notify not as flexible when reporting errors using `honeybadger.notify`.

[2022-09-02 15:24] joshuap commented on #115
@subzero10, @Kelvin4664 can probably help with this one if you can provide some direction.

[2022-09-09 10:26] subzero10 commented on #115
@nadnerb This should be fixed with `v0.10.0`!

[2022-09-14 16:56] joshuap opened #118 "Reporting errors in fastapi repeating functions"
This is a bug report from a past user. @Kelvin4664 @subzero10 could we automatically report errors in this case? Or would it be better to manually try/catch the error in the function (and if so, can we update the docs)?

[2022-09-21 03:21] nadnerb commented on #115
Sorry for the late reply. Thank you! I will try it asap.

[2022-09-23 07:12] subzero10 commented on #115
@nadnerb I just released `v0.11.0` making `fingerprint` a top-level function parameter.
Note: it's a breaking change from `v0.10.0`

[2022-09-25 23:44] nadnerb commented on #115
Hey @subzero10. Thanks for all the work and sorry for the slow response, I haven't been 100%. I noticed you put `fingerprint` at the method level in the `error_payload` method. However it has not been added to the `notify` method?

Thanks again.

[2022-09-29 01:20] nadnerb commented on #115
@subzero10, @joshuap, would you like me to raise another bug for the notify issue?

[2022-09-29 05:52] subzero10 commented on #115
@nadnerb No need, I will get to it today!

[2022-09-30 08:30] subzero10 commented on #115
@nadnerb [PR](https://github.com/honeybadger-io/honeybadger-python/pull/119) ready!
cc @joshuap

[2022-09-30 08:46] subzero10 opened #120 "Install a python linter"
My Intellij IDE complains with style warnings and inconsistencies with [PEP 8](https://peps.python.org/pep-0008/).
I think we should integrate python linter and include in our CI.
A quick google search brought up the following linters:
- [Pylint](https://pylint.pycqa.org/en/latest/)
- [flake8](https://flake8.pycqa.org/en/latest/)

@joshuap Do you have any experience/preference towards any of the a

[2022-10-03 17:24] joshuap commented on #120
I don't have a personal preference—what about you, @Kelvin4664? Otherwise I'd go with whichever seems more popular.

[2022-10-04 18:48] #115 closed

[2022-10-04 18:52] subzero10 commented on #115
@nadnerb `v0.12.0` is released with the `fingerprint` in the `notify` method!

[2022-10-04 22:28] nadnerb commented on #115
Fantastic, thank you!

[2022-10-11 15:33] agdiaz opened #121 "Frequent "OSError" triggered by `exception_hook` using Honeybadger for Python 0.12.0"
Hello Honeybadger devs,
I hope this message finds you doing well!

I've implemented the error tracking service on a Django website deployed on "Ubuntu 18.04.3 LTS". This application runs by using a `uwsgi` engine and behind an NGINX server.

Several times a day I received notifications related to an error coming from inside the HoneyBadger library but with an empty stack trace:

![image](https://u

[2022-10-11 18:47] joshuap commented on #121
@Kelvin4664 can you look at this one? Could it be a case where the stack trace is being generated internally when calling `honeybadger.notify` like this example from the README?

[code]

[2022-10-12 10:08] agdiaz commented on #121
Hello there,

Thanks for checking it out! Just to add a bit more context, I'm attaching the frequency chart in order to illustrate that it's happening randomly:

![image](https://user-images.githubusercontent.com/1646576/195314251-3102a85c-e28f-4676-8201-577365b8807d.png)

I've reviewed the source code of my project, and the two places where I invoke `honeybadger.notify` add context using a dictio

[2022-10-14 20:51] Kelvin4664 commented on #121
Hi @agdiaz
Thank you for the detailed report.
There is little or no detail because the error occurred outside your application. More specifically, at the `uwsgi` layer which outside honeybadger's frame.
Such errors usually occur when uwsgi encounters a large request body, or having more requests than there's available workers.
You can turn these notifications off from your uwsgi config by turning

[2022-10-17 17:13] joshuap commented on #118
Here's some additional feedback:

https://fastapi-utils.davidmontague.xyz/user-guide/repeated-tasks/

[2022-10-17 17:14] joshuap commented on #121
Yep, could you write up an issue for that feature and give it the "enhancement" label? Thanks!

[2022-10-19 08:30] agdiaz commented on #121
@Kelvin4664 @joshuap: thank you for your help finding the root cause of these `OSError`s and for proposing a workaround!

[2022-11-04 18:08] remstone7 opened #122 "Local variables not showing in stacktrace"
It looks like this isn't a possibility yet but it would be great to be able to have local variables present in the stack trace.  As far as I can tell, the only way you can do this in the current system would be to use context.

the `inspect` package `trace` allows you to get the `f_locals` and this could be added to the context of a project.

[code]

[2022-11-04 18:16] joshuap commented on #122
We have a local variables feature in our Ruby gem—I'm wondering if this would be similar to that? These are the important parts:

https://github.com/honeybadger-io/honeybadger-ruby/blob/dd52c352567026b891484b4a1c62fa6e739cbd1f/lib/honeybadger/notice.rb#L228
https://github.com/honeybadger-io/honeybadger-ruby/blob/dd52c352567026b891484b4a1c62fa6e739cbd1f/lib/honeybadger/notice.rb#L228
https://github

[2022-11-04 18:25] remstone7 commented on #122
@joshuap yea it looks similar to what i'm asking for here, do the local variables get added to the context or is there another part in the UI that they get added to?

[2022-11-04 18:27] remstone7 commented on #90
this is related 👍  to #122

[2022-11-04 20:26] joshuap commented on #122
They would get added to the backtrace—not the context, assuming the info is available from Python. This may still be a slightly different feature from what you're asking for, but I'm not sure. I think #90 is more like if the backtrace shows the method `foo()` was called with two args, it would include the values, i.e. `foo('one', 'two')`. It would do that for *every* line of the backtrace that inc

[2022-11-07 13:33] remstone7 commented on #122
@joshuap i'll make a pr, but to confirm, local_variables will just be for the block that the exception is raised?

For 1 function
[code]

![image](https://user-images.githubusercontent.com/16033088/200320807-6f8fdfb5-61dd-49d4-bb67-e27715775548.png)

for a multiple-caller:

[code]

![image](https://user-images.githubusercontent.com/16033088/200323244-c06d58ba-d706-4cbb-9452-a4113d44055f.png)

[2022-11-08 01:16] joshuap commented on #122
Yeah, that seems right. Thanks, we'll review the PR soon!

[2022-11-11 21:46] subzero10 commented on #122
@remstone7 You can try your changes with `v0.13.0`! Thank you for submitting the PR!

[2022-11-11 21:46] #122 closed

[2022-11-14 12:11] remstone7 commented on #122
@subzero10 thank you, working on my end 👍